$blue:rgb(50, 98, 249);
$pink:rgb(232, 128, 224);



section {
	height:100vh;
}

.centering {
	top:50%;
	left:50%;
	-webkit-transform:translateY(-50%) translateX(-50%);
	transform:translateY(-50%) translateX(-50%);
}


//Title and menu section

.title__section {
	background: url(../pic/computer-title.jpg);
	background-size:cover;
	background-attachment: fixed;
  opacity: .5;
  -webkit-animation: opac 3s;
  animation: opac 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;


  .title__wrapper {
    width:inherit;
  	height:inherit;
		position: relative;
    background: rgba(40,40,40,.97);
		overflow: hidden;
		font-family: 'Ruslan Display', cursive;

		.menu__pic {
			display: block;
			position: absolute;
			cursor:pointer;
		}
		.menu__pic-hamburger {
			width: 30vmin;
			height: 30vmin;
			z-index: 3;
		}
		.menu__pic-arrow {
			width: 20vmin;
			height: 20vmin;
			opacity: 0;
		}

		.menu__items-left {
			left:0;
			top:-75%;
		}
		.menu__items-right {
			right:0;
			top:75%;
		}

		.menu__items {
			width:50%;
			height: 100vh;
			font-size:10vmin;
			color:$blue;
			position: absolute;
			z-index: 1;

			.menu__words {
				position: absolute;
			}
			.menu__words-left {
				top: 85%;
				left:5%;
			}
			.menu__words-why {
				top: 15%;
				left:15%;
				color:$pink;
			}
			.menu__words-right {
				top:5%;
				right:5%;
			}
			.menu__words-try {
				top:75%;
				right:15%;
				color:$pink;
			}
		}


  }
}



// Description section

@function side($length) {
	$result: $length / 1.414;
	@return $result;
}

.description__section {
	background: rgba(40,40,40,.97);
	position: relative;
	display: flex;
	&:hover .computer__anim-one{
		animation: computer__anim-one 8s linear;
		animation-fill-mode: forwards;
	}
	&:hover .computer__anim-two{
		animation: computer__anim-two 8s linear;
		animation-fill-mode: forwards;
	}

	.computer__anim {
		width:20vmin;
		height: 20vmin;
		position: absolute;
	}
	.computer__anim-one {
		top:10%;
		left:10%
	}
	.computer__anim-two {
		bottom:10%;
		right:10%
	}

	.container__description {
		width: side(100vmin);
		height:side(100vmin);
		margin: auto;
		background: rgba(3, 91, 134, .5);
		transform:rotate(45deg);
		display: flex;
		border:5px solid rgba(40,40,40,.9);
		box-sizing: border-box;


		.product__description {
			width:80.7%;
			height: 60.7%;
			background: rgba(40,40,40,.7);
			transform:rotate(-45deg);
			margin: auto;
			color:rgba(255, 255, 200, .5);
			padding:1%;
			box-sizing: border-box;
			border:5px solid rgba(40,40,40,.8);

			.product__details {
				padding:1%;
				font-family: 'Archivo Narrow', sans-serif;
				font-size: 4.2vmin;
				text-indent: 5%;
			}
		}
	}
}
