$blue:rgb(50, 98, 249);
$pink:rgb(232, 128, 224);
$gray:rgb(40,40,40);



section {
	height:100vh;
}

.centering {
	top:50%;
	left:50%;
	-webkit-transform:translateY(-50%) translateX(-50%);
	transform:translateY(-50%) translateX(-50%);
}

a {
	text-decoration: none;
	color:inherit;
}



//Title and menu section

.title__section {
	background: url(../pic/computer-title.jpg);
	background-size:cover;
	background-attachment: fixed;


	.menu__pic {
		display: block;
		position: absolute;
		cursor:pointer;
	}
	.menu__pic-hamburger {
		width: 30vmin;
		height: 30vmin;
		z-index: 3;
	}
	.menu__pic-arrow {
		width: 20vmin;
		height: 20vmin;
		opacity: 0;
	}


  .title__wrapper {
    width:inherit;
  	height:inherit;
		position: relative;
    background: rgba(30,30,30,.97);
		overflow: hidden;
		font-family: 'Ruslan Display', cursive;
		opacity:.7;

		-webkit-animation: opac 2s;
		animation: opac 2s;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;

		.menu__items-left {
			left:0;
			top:-75%;
		}
		.menu__items-right {
			right:0;
			top:75%;
		}

		.menu__items {
			width:50%;
			height: 100vh;
			font-size:9vmin;
			position: absolute;
			z-index: 1;

			.menu__words {
				position: absolute;
			}
			.menu__words-left {
				top: 85%;
				left:7%;
			}
			.menu__words-why {
				top: 15%;
				left:8%;
			}
			.menu__words-right {
				top:10%;
				right:7%;
			}
			.menu__words-try {
				top:80%;
				right:8%;
			}
			.menu__words-blue {
				color:$blue;
			}
			.menu__words-pink {
				color:$pink;
				text-align: center;
			}
		}


  }
}



// Description section

@function side($length) {
	$result: $length / 1.414;
	@return $result;
}

.description__section {
	background:rgba(40,40,40,.97);
	position: relative;
	display: flex;
	&:hover .computer__anim-one{
		animation: computer__anim-one 8s linear;
		animation-fill-mode: forwards;
	}
	&:hover .computer__anim-two{
		animation: computer__anim-two 8s linear;
		animation-fill-mode: forwards;
	}

	.computer__anim {
		width:20vmin;
		height: 20vmin;
		position: absolute;
	}
	.computer__anim-one {
		top:10%;
		left:10%
	}
	.computer__anim-two {
		bottom:10%;
		right:10%
	}

	.container__description {
		width: side(100vmin);
		height:side(100vmin);
		margin: auto;
		background: rgba(3, 91, 134, .5);
		transform:rotate(45deg);
		display: flex;
		border:5px solid rgba(40,40,40,.9);
		box-sizing: border-box;


		.product__description {
			width:80.7%;
			height: 60.7%;
			text-align: center;
			transform:rotate(-45deg);
			margin: auto;
			color:rgba(255, 255, 200, .5);
			box-sizing: border-box;

			.product__details {
				padding:1%;
				font-family: 'Archivo Narrow', sans-serif;
				font-size: 4.7vmin;
				text-indent: 5%;
			}
			.product__details:first-of-type {
				padding-bottom:5%;
			}
		}
	}
}

// Computers hunter application

.ch__application {
	display: flex;
	flex-direction: row;

	.select__container {
		flex:1 2;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		font-family: 'Ruslan Display', cursive;
		background:linear-gradient(45deg, darken($gray, 7%), lighten($gray, 7%));
		border-top:5px solid lighten($gray,10%);
		border-right:5px solid lighten($gray,10%);
		box-sizing: border-box;
		color: rgba(255, 255, 220, .5);
		fieldset {
			width:80%;
			position: relative;
			label {
				font-size: 3.3vmin;
				color:rgba(255, 255, 220, .8);
			}
			.select__wrapper {
				position: relative;
				margin-top: 2%;
				&::after {
					content:"";
					display:block;
					position: absolute;
					top:0%;
					right:10%;
					height:100%;
					width:13%;
					background: rgba(0, 39, 57, .95);
					border:2px solid darken($gray, 3%);
					box-sizing: border-box;
				}
				select {
					width:90%;
					font-family: inherit;
					background: rgba($gray,.7);
					color:inherit;
					font-size: 3vmin;
					border:2px solid darken($gray, 3%);
					cursor:pointer;
					option {
						padding:1%;
					}
				}
			}

		}
		.submit {
			font-family: inherit;
			background: rgba(10,10,10,.7);
			border:none;
			color:rgba(255, 255, 220, .8);
			font-size: 3.4vmin;
			padding:1% 7%;
		}
	}


	.product__container {
		flex:4 1;
		height: 100%;

		display: flex;
		background:
			repeating-linear-gradient(
				-45deg,
				rgba($gray,.9),
				rgba($gray,.9) 140px,
				rgba($gray,.7) 0,
				rgba($gray,.7) 280px
			),
			repeating-linear-gradient(
			45deg,
			rgba($gray,.9),
			rgba($gray,.9) 140px,
			rgba($gray,.7) 0,
			rgba($gray,.7) 280px
		);
	}

		.photo__container {
			width:80%;
			height:75%;
			margin:auto;
			background: lighten($gray, 20%);
			display: flex;

			.photo {

				margin:auto;
				background: url(../../pictures/comp_4.jpg);
				background-size:cover;
			}
		}

}
